<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h3 class="text-themecolor">Borang</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p>
	   	<%= link_to form_new_path do %>
	   	<button type="button" class="btn btn-info btn-lg">
		<i class="fa fa-plus" style="font-size: 20px"></i>
			Tambah Borang 
		</button>
		<% end %>
		</p>
	</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title m-b-0">Senarai Borang</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive"> 
					<div class="table-responsive"> 
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Kod Borang</th>
									<th>Tajuk Borang</th>
									<th>Penerangan</th>
									<th>URL</th>
									<th>Status</th>
									<th>Tindakan</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Borang Makan</td>
									<td>Borang makan</td>
									<td><a href="http://bizrev.my">http://bizrev.my</a></td>
									<td><span class="label label-success">Active</span></td>
									<td><button type="button" class="btn btn-success">View</button> <button type="button" class="btn btn-primary">Edit</button> <button type="button" class="btn btn-danger">Delete</button></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Borang minum</td>
									<td>Borang untuk minum</td>
									<td><a href="http://bizrev.my">http://bizrev.my</a></td>
									<td><span class="label label-danger">Disable</span></td>
									<td><button type="button" class="btn btn-success">View</button> <button type="button" class="btn btn-primary">Edit</button> <button type="button" class="btn btn-danger">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>