<div class="row page-title clearfix">
    <div class="page-title-left">
        <h6 class="page-title-heading mr-0 mr-r-5">Product Form</h6>
    </div>
</div>
<div class="row">
	<div class="widget-holder widget-sm widget-border-radius col-md-12">
        <div class="widget-bg">
            <div class="widget-heading bg-purple"><span class="widget-title my-0 color-white fs-12 fw-600">Form Builder</span>
            </div>
            <div class="widget-body">
            	<%= react_component("FormCreator", prerender: false) %>
            </div>
        </div>
    </div>
</div>