<div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">company overview</p>
            </div>
        </div>
<div class="widget-list row">
    <div class="widget-holder widget-full-content widget-full-height col-md-6">
        <div class="widget-bg" style="height: 280px">
            <div class="widget-body">
                <div class="counter-gradient">
                    <h3 class="fs-60 fw-600 mt-3 pt-1 h1 letter-spacing-minus"><span class="counter">RM6843.00</span></h3>
                    <h5 class="mb-4 fw-500">Transaction Value</h5>
                </div>
                <!-- /.widget-counter -->
                <div class="row columns-border-bw border-top">
                </div>
            </div>
            <!-- /.widget-body -->
        </div>
        <div class="row">
		   <div class="widget-holder widget-sm widget-border-radius col-md-6">
	        <div class="widget-bg" style="height: 170px">
	            <div class="widget-heading bg-purple"><span class="widget-title my-0 color-white fs-12 fw-600">Agent Earnings</span>  <i class="widget-heading-icon feather feather-box"></i>
	            </div>
	            <!-- /.widget-heading -->
	            <div class="widget-body">
	                <div class="counter-w-info">
	                    <div class="counter-title color-color-scheme">RM<span class="counter">500</span></div>
	                    <!-- /.counter-title -->
	                    <div class="counter-info">Earning from agent sales</div>
	                    <!-- /.counter-info -->
	                </div>
	                <!-- /.counter-w-info -->
	            </div>
	            <!-- /.widget-body -->
	        </div>
	        <!-- /.widget-bg -->
	    </div>
	    <!-- /.widget-holder -->
	    <div class="widget-holder widget-sm widget-border-radius col-md-6">
	        <div class="widget-bg" style="height: 170px">
	            <div class="widget-heading bg-purple"><span class="widget-title my-0 color-white fs-12 fw-600">Direct Earnings</span>  <i class="widget-heading-icon feather feather-briefcase"></i>
	            </div>
	            <!-- /.widget-heading -->
	            <div class="widget-body">
	                <div class="counter-w-info">
	                    <div class="counter-title color-purple">RM<span class="counter">846</span>
	                    </div>
	                    <!-- /.counter-title -->
	                    <div class="counter-info">Earning from direct sales</div>
	                    <!-- /.counter-info -->
	                </div>
	                <!-- /.counter-w-info -->
	            </div>
	            <!-- /.widget-body -->
	        </div>
	        <!-- /.widget-bg -->
	    </div>
	</div>
    </div>
    <!-- /.widget-holder -->
    <div class="widget-holder widget-full-height widget-flex col-md-6">
        <div class="widget-bg" style="height: 450px">
            <div class="widget-heading">
                <h4 class="widget-title"><small class="h5 ml-1 my-0 fw-500">Agent & Customer</small></h4>
                <!-- /.widget-graph-info -->
            </div>
            <!-- /.widget-heading -->
            <div class="widget-body">
                <div class="mr-t-20 flex-1">
                    <div class="h-100" style="max-height: 250px">
                        <%= react_component("TotalChart", prerender: false) %>
                    </div>
                </div>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
    <!-- /.widget-holder -->
</div>

<div class="row">
		<div class="widget-holder widget-sm widget-border-radius col-md-12">
	        <div class="widget-bg">
	            <div class="widget-heading bg-purple"><span class="widget-title my-0 color-white fs-12 fw-600">Sales Statistic ( Monthly )</span>
	            </div>
	            <!-- /.widget-heading -->
	            <div class="widget-body">
	            	<%= react_component("SalesChart", prerender: false) %>
				<center><h4>Jumlah : RM</h4></center>
	            </div>
	            <!-- /.widget-body -->
	        </div>
	        <!-- /.widget-bg -->
	    </div>
</div>
