<center><h1>DASHBOARD</h1></center>
<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="widget gradient-widget">
			<div class="widget-caption gradient-danger">
				<div class="gradient-icon gr-icon-danger">
					<i class="icon icon-profile-male"></i>
				</div>
				<div class="gradient-detail">
					<div class="widget-detail">
						<h3>372</h3>
						<span>New &amp; Latest Users</span>
					</div>
					<a href="#" class="gr-btn" title="View More">More Info</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="widget gradient-widget">
			<div class="widget-caption gradient-info">
				<div class="gradient-icon gr-icon-info">
					<i class="icon icon-happy"></i>
				</div>
				<div class="gradient-detail">
					<div class="widget-detail">
						<h3>512</h3>
						<span>Happy Customer</span>
					</div>
					<a href="#" class="gr-btn" title="View More">More Info</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="widget gradient-widget">
			<div class="widget-caption gradient-purple">
				<div class="gradient-icon gr-icon-purple">
					<i class="icon icon-basket"></i>
				</div>
				<div class="gradient-detail">
					<div class="widget-detail">
						<h3>740</h3>
						<span>Total Sales</span>
					</div>
					<a href="#" class="gr-btn" title="View More">More Info</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="widget gradient-widget">
			<div class="widget-caption gradient-success">
				<div class="gradient-icon gr-icon-success">
					<i class="icon icon-trophy"></i>
				</div>
				<div class="gradient-detail">
					<div class="widget-detail">
						<h3>480</h3>
						<span>World Award</span>
					</div>
					<a href="#" class="gr-btn" title="View More">More Info</a>
				</div>
			</div>
		</div>
	</div>
</div>
